{% extends "layout.twig" %}

{% block content %}
	<div class="row">
		{% for news in resultat %} 	
			<div class="col-lg-12">	
				<div class="article2">
					<h2>{{news.getTitre() }} </h2>
					<em> Rédigé par {{ news.getAuteur() }} le {{ news.getDateAjout() }}</em>
					<p> {{ news.getChapo()}}
					</br> {{ news.getContenu() }}</br></br>
				</p><a href="../modifier/{{ news.getId() }} " class="btn">Modifier l'article</a>
				<a href="../supprimer/{{ news.getId() }} " class="btn">Supprimer l'article</a></br></br></div>
				<div class="addCommentaire">
					<h3>Ajouter un commentaire :</h2> 
						<FORM method="post" action="../addCommentaire/{{ news.getId() }} ">
							<label>Votre pseudo</label> : </br><input type="text" name="auteur" required/></br>
							<label>Votre commentaire</label> :</br> <TEXTAREA name="contenu" rows=2 cols=100 wrap=physical placeholder="Rédiger votre commentaire ici" required  /></TEXTAREA></br></br>
							<INPUT TYPE="submit" NAME="ajouterCommentaire" VALUE=" Envoyer "   class="btn">
							</FORM>
						</br>
					</div>
					{% if news.getCommentaireTableau() %}
						{% for com in news.getCommentaireTableau() %} 
							<div class="commentaire">						
								{{ com.getContenu() }}
							</br>
							<em>Rédigé par : {{ com.getAuteur() }} le {{ com.getDateAjout() }}</em>
						</br>
					</div>
				{% endfor %}
			{% endif %}
		</div>
	</div>
{% endfor %}
</div>
{% endblock %}