{% extends "layout.twig" %}

{% block content %}
	<div class="row">
		{% for news in resultat %}
			<div class="col-lg-4 article">
				<h2>{{news.getTitre() }} </h2>
				<em> Rédigé par {{ news.getAuteur() }} le {{ news.getDateAjout() }}</em>
				<p> {{ news.getChapo()}}
				</p><a href="./article/{{ news.getId() }}" class="btn" >Lire l'article</a></br></br>
			</div>
		{% endfor %}
	</div>
{% endblock %}