{% extends "layout.twig" %}

{% block content %}
	<div class="modifier">
		<FORM method="post" action= "index.php?page=update&id= {{ id }} ">
			<label>Votre pseudo</label> : </br><input type="text" name="auteur" required value="{{ Auteur }} "/></br>
			<label>Votre titre</label> : </br><input type="text" name="titre" size="50" required value="{{ Titre }}"/></br>
			<label>Votre chapo</label> :</br> <TEXTAREA name="chapo" rows=5 cols=200 wrap=physical class="textarea" required value="test">{{ Chapo }}</TEXTAREA></br>
			<label>Votre article</label> :</br> <TEXTAREA name="contenu" rows=20 cols=200 wrap=physical class="textarea" required value="test">{{ Contenu }}</TEXTAREA></br></br>
			<INPUT TYPE="submit" NAME="ajouterNews" VALUE=" Envoyer" class="btn">
		</FORM>
	</div>
{% endblock %}